body {
    background-image: url('../img/bacgroound_land.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: default url('../img/viseur.cur') ;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#collisionCanvas1 {
    opacity: 0;
}